:root{
    --mainColor: #1C4C2F;
    --secondaryColor: #6A9175;

    --borderColor: #161914;

    --mainText: #fff;
    --secondaryText: #c1c1c1;

    --themeDotBorder: #fff;

    --previewBG: rgba(81, 90, 72, 0.8);
    --previewShadow: #2a2f25;

    --buttonColor: #062827;
}